<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>Web</display-name>
	<listener>
		<listener-class>ca.cafeteros.web.Load</listener-class>
	</listener>
	<servlet>
		<servlet-name>raiz</servlet-name>
		<servlet-class>ca.cafeteros.servlets.Root</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>raiz</servlet-name>
		<url-pattern></url-pattern>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
</web-app>